/* Import gg font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/*-------------------------------------*/
:root{
    --primary-color:#3BB77E;
    --secondary-color:#e5b331;
    --white-color:#fff;
    --black-color:#000;
}

/* LOADING SNIPPET */
.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ripple div {
    position: absolute;
    border: 4px solid var(--black-color);
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}
@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}

/*-------------------------------------*/
/* DEFAULT  SETTING */
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif !important;
}
.container{
    width: 100%;
    margin: 0 auto;
    max-width: 1400px;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 0 !important;
}
a{
    text-decoration: none;
}
p{
    margin: 0!important;
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    background-color: var(--white-color);
}
/*-------------------------------------*/
/* LAYOUT DEFAULT SETTING */
.LayoutDefault{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.LayoutDefault_main{
    flex-grow: 1;
}
.LayoutDefault_footer__bottom{
    display: flex;
    padding:1rem 2rem;
    justify-content: space-between;
    border: 1px solid rgba(109, 176, 148, 0.68);
}
.LayoutDefault_footer__bottom  p{
    font-weight: 300;
    font-size: 14px;
    color: #5d5d5d;
}
.footer__bottom-socials,.footer__bottom-socials ul{
    display: flex;
}
.footer__bottom-socials ul{
    gap: 5px;
}
.footer__hotline{
    display: flex;
    align-items: center;
}
.footer__hotline i{
    margin-right: 20px;
    transform: rotate(-25deg);
}
.footer__hotline p{
    font-weight: bold;
    font-size: 25px;
    color: var(--primary-color);
}
.footer__bottom-socials ul li a{
    color: white;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    background: #3BB77E;
    display: inline-block;
}
.LayoutDefault_footer__top-container{
    gap: 20px;
    display: grid;
    line-height: 2;
    padding:4rem 1.5rem 2rem;
    grid-template-columns: repeat(5,1fr);
}
.footer__logo img{
    margin-bottom: 1rem;
}
.footer__logo i{
    color: var(--primary-color);
}
.LayoutDefault_footer__top-container h3{
    font-size: 22px;
}
.footer__nav li a{
    color: black;
    font-weight: 300;
    transition: .3s all ease-in;
}
.footer__nav li a:hover {
    color: var(--primary-color);
    padding-left: 10px;
}
.footer__middle .method__pay:hover{
    transform: translateY(-5px);
    cursor: pointer;
    transition: .4s all ease-in-out;
}
/*-------------------------------------*/
/* LAYOUT FOR ADMIN  */

#components-layout-demo-custom-trigger .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}
#components-layout-demo-custom-trigger{
    height: 100vh !important;
}

/*-------------------------------------*/
/* PRODUCTS  */
.product__thumbnail img{
    width: 100%;
    height: 200px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.products__banner{
    position: relative;
    max-height: 200px;
    margin: 1.5rem 0 4rem;
}
.products__banner-content{
    top:30%;
    left: 5%;
    width: 100%;
    position: absolute;
}
.products__banner img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.product__content .name{
    font-size: 1.1rem;
}
.product__content{
    margin-top: 10px;
}
.product__content .price{
    color: #3BB77E;
    font-weight: bold;
}
.products__content{
    display: grid;
    gap: 2.3rem;
    grid-template-columns: repeat(4,1fr);
}
.products__list{
    grid-column: span 3;
}
.product__filter{
    grid-column: span 1;
}
.btn__addCart{
    border: 0;
    color: #269d26;
    padding: 4px;
    cursor: pointer;
    border-radius: 2px;
    position: relative;
    transition: .5s all ease;
    background: rgba(153, 197, 177, 0.62);
}
.btn__addCart:hover{
    transform: translateY(-5px);
    background:#3BB77E;
    color: white;
}
.container__nodata{
    text-align: center;
    background: white;
    padding: 3rem;
}
.product__content-action{
    display: flex;
    padding: 8px;
    margin-top: .5rem;
    border-radius: 3px;
    align-items: center;
    justify-content: space-between;
}
.product__content-action:hover{
    background-color: #f8f8f8;
}
.code-box-demo .ant-slider {
    margin-bottom: 16px;
}
.product__filter{
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
}
.product__filter-2,.product__filter-1,.new__products{
    padding:1rem;
    border-radius: 4px;
    background-color: white;
}
.product__filter-3 .ant-checkbox-group{
    display: grid;
    row-gap: 14px;
    grid-template-columns: repeat(3,1fr);
}
.product__filter-price{
    margin-top: 4rem;
}
.product__filter .ant-slider-track{
    background-color: #92eac2 !important;
}
.text__underline--green{
    font-size: 23px;
    position: relative;
}
/* btn filter */
.btn__filter{
    border: 0;
    z-index: 40;
    color: white;
    cursor: pointer;
    padding: 6px 14px;
    margin-top: 1.5rem;
    position: relative;
    border-radius: 3px;
    transition: all .3s ease;
    background-color: var(--primary-color);
}
.btn__filter .move{
    transition: all .3s ease;
}
.btn__filter:hover{
    background-color: var(--secondary-color);
 }
.btn__filter:hover .move{
    padding-left:6px;
}
.text__underline--green:before,.text__underline--green:after{
    content: '';
    left: 0;
    height: 2px;
    position: absolute;
    top: calc(100% + 6px);
}
.text__underline--green:before{
    width: 30%;
    z-index: 4;
    background-color: var(--primary-color);
}
.text__underline--green:after{
    width: 70%;
    background-color: #e5e5e5;
}
.new__products-item{
    display: flex;
    gap: 13px;
    padding: .7rem 0;
}
.new__products-item:not(:last-child){
    border-bottom: 1px dotted #c9c8c8;
}
.new__products-item img{
    border-radius: 4px;
    height: 80px;
}
.new__products-item a{
    font-size: 1rem;
    font-weight: 500;
    color: var(--primary-color);
}
.new__products-item a:hover{
    color: var(--secondary-color);
}
.button_cart{
    position: relative;
    cursor: pointer;
}
.cart__status{
    top: -12px;
    left: -12px;
    padding:2px 7px;
    border-radius: 50%;
    position: absolute;
    color: white !important;
    background-color: #e5420f;
    font-size: 10px!important;
}

.cart__container{
    top: 3rem;
    z-index: 99;
    left: -130px;
    min-width: 18rem;
    position: absolute;
    padding: 1rem;
    border-radius: 4px;
    background-color: rgba(214, 225, 229, 0.89);
}
.cart__item-container{
    max-height: 14rem;
    overflow-y:scroll;
}
.cart__actions .btn__checkout{
    border: 0;
    color: white;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
    transition: .3s all ease;
    background-color: #0a0a52;
}
.cart__actions .btn__checkout:hover{
    background-color: var(--secondary-color);
}

.cart__actions{
    gap: 10px;
    display: flex;
    margin-top: 1rem;
    padding-top: .5rem;
    flex-direction: column;
    border-top: 2px solid var(--secondary-color);
}
.cart__item{
    display: flex;
    gap: 20px;
}
.cart__item img{
    border-radius: 3px;
}
.cart__item:not(:last-child){
    margin-bottom: 1rem;
}
/*-------------------------------------*/
/* CONTACT  */